body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.brand {
  background-color: #ffb619;
  color: white;
  padding: 6px;
  border-radius: 15%;
  font-size: 15px;

}

.ukuranfont {
  font-size: 15px;
}


.category-aktif {
  background-color: #ffb619;
  color: white;
}